.btn-field {
    max-width: 380px;
    width: 100%;
    background-color: #5995fd;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .btn-field:hover {
    background-color: #4d84e2;
  }

  .btn-field .text{
    color: #fff;
  }